<div class="contenedor" *ngIf="loading" >
    <app-spinner></app-spinner>
</div>

<div class="contenedor" *ngIf="!loading">
    <div *ngIf="error" class="alert alert-danger" role="alert">
        <strong>{{ this.errorText }}</strong>
      </div>
    <input [(ngModel)]="pin" type="text" class="form-control mb-3 input-ingresar" placeholder="Pin del juego"/>
    <button (click)="ingresar()" class="btn-ingresar btn-principal">Ingresar</button>
</div>
<div class="fixed-bottom">
    <p class="text-center text">
        Crea tu propio cuestionario GRATIS
        <a class="link" routerLink="/user">aqui</a>
    </p>
</div>