<div class="d-flex justify-content-center mt-5" *ngIf="loading">
    <app-spinner></app-spinner>
</div>

<div class="container mt-3" *ngIf="currentQuiz != undefined">
    <div class="d-flex justify-content-center mt-3">
        <div class="card card-titulo">
            <div class="card-body text-center">
                <h2 class="titulo">{{ currentQuiz?.title | uppercase}}</h2>
                <h4>{{ currentQuiz?.description }}</h4>
            </div>
        </div>
    </div>
    <div class="row mt-5" *ngFor="let question of currentQuiz.questions">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <h4 class="titulo">{{ question.title }}</h4>
                    <div class="row mt-3">
                        <div class="col-lg-3 offset-lg-3">
                            <p><span class="badge bg-dark">{{ question.seconds }}s</span></p>
                        </div>
                        <div class="col-lg-3">
                            <p><span class="badge bg-dark">{{ question.points }}ptos</span></p>
                        </div>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item" *ngFor="let response of question.responses"
                            [ngClass]="{'correct': response.isCorrect === true}"
                        >
                            {{ response.description }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3 mb-3">
        <div class="col-lg-8 offset-lg-2 text-center">
            <button style="width: 100%; font-size: 20px;" class="btn-principal" routerLink="/dashboard" >VOLVER</button>
        </div>
    </div>
</div>