<div class="d-flex justify-content-center mt-3">
    <button routerLink="/dashboard/create-quiz" class="btn-principal btn-quiz">NUEVO</button>
</div>

<div class="d-flex justify-content-center mt-3" *ngIf="loading">
    <app-spinner></app-spinner>
</div>

<div class="container" *ngIf="quizList.length > 0 && !this.loading">
    <div class="row mt-3">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Titulo</th>
                                <th>Cant. Preguntas</th>
                                <th>Código</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let quiz of quizList; let i = index">
                                <td>{{ quiz.title }}</td>
                                <td>{{ quiz.countQuestions }}</td>
                                <td><span class="badge bg-black">{{ quiz.code }}</span></td>
                                <td>
                                    <i [routerLink]="['/dashboard/show-quiz', quiz.id]" class="fas fa-search"></i>
                                    <i class="fas fa-chart-line"></i>
                                    <i (click)="removeQuiz(quiz.id!)" class="fas fa-trash"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" *ngIf="quizList.length == 0 && !loading">
    <div class="row mt-3">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body">
                    <h5>No hay cuestionarios!</h5>
                </div>
            </div>
        </div>
    </div>    
</div>



