<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body">
                    <h2 class="text-center titulo">Login</h2>
                    <form [formGroup]="loginForm" (ngSubmit)="login()">
                        <div class="mb-3">
                            <input formControlName="user" type="text" class="form-control form-control-lg" placeholder="Email"/>
                            <span 
                                class="text-danger" 
                                *ngIf="loginForm.get('user')?.hasError('required') && loginForm.get('user')?.touched"
                            >
                                El email es <strong>requerido</strong>
                            </span>
                            <span 
                                class="text-danger" 
                                *ngIf="loginForm.get('user')?.hasError('email') && loginForm.get('user')?.touched"
                            >
                                El email es <strong>inválido</strong>
                            </span>
                        </div>
                        <div class="mb-3">
                            <input formControlName="pass" type="password" class="form-control form-control-lg" placeholder="Contraseña"/>
                            <span 
                                class="text-danger" 
                                *ngIf="loginForm.get('pass')?.hasError('required') && loginForm.get('pass')?.touched"
                            >
                                La contraseña es <strong>requerida</strong>
                            </span>
                        </div>
                        <button class="btn btn-secondary btn-lg" routerLink="/">Volver</button>
                        <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary btn-lg float-end">Aceptar</button>
                    </form>
                    <br>
                    <div class="text-center">
                        <a routerLink="/user/register">Registrarse</a>
                        <br>
                        <a routerLink="/user/recovery-pass">Recuperar contraseña</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>